.header-pan{
    background: #bdbdbd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.view{
    margin-top: 25px;
}
.icon-margin{
    margin-right: 25px;
}

.dwnload{
 display: block;
 margin-right: 25px;
}
.dwnload:hover{
    cursor: context-menu;
    
}